<!-- <h2>Profile Page</h2> -->

<h3>Welcome to your profile!</h3>

<!-- <h1>
    <a href="/pokemon" class="btn btn-dark"> My team </a>
</h1> -->

<p>
    <a href="/pokemon" class="rounded-pill"> My team </a>
</p>