nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

.container {
  padding: 10px;
  background-color: rgb(204, 204, 204);
}

.container-sm {
  background-color: rgb(224, 224, 224);
  max-width: 600px;
}


