<form method='POST' action='/pokemon'>
    <label for="pokemonName">Name</label>
    <input id="pokemonName" type="text" name="pokemonName">

    <label for="pokemonNotes">Notes</label>
    <input id="pokemonNotes" type="text" name="pokemonNotes">

    <input type="submit">
</form>