
<form method='POST' action="/pokemon/edit/<%=pokemonInfo.dataValues.id%>">
	<% pokemons.forEach(pokemon => { %>
		<% if (pokemon.dataValues.id === pokemonInfo.dataValues.id) { %>
			<p><%= pokemonInfo.dataValues.name %></p>
			<label for="pokemonNotes">Notes</label>
    		<input id="pokemonNotes" type="text" name="pokemonNotes" value="<%= pokemon.usersPokemons.dataValues.note %>">
			<input type="submit" value="Submit Change!">	
		<% } %>	
	<% }) %>
</form>