<h1>This is your team!</h1>

<a href='/pokemon/add'>Add to team!</a>
<ul>
    <% pokemons.forEach(function(pokemon) { %>
    <li><%= pokemon.name %> 
      <!-- This is the link to edit form -->
      <a href='/pokemon/edit/<%=pokemon.id%>'>Edit</a>
      <!-- This is the DELETE form -->
      <form method='POST' action='/pokemon/<%= pokemon.name %>/?_method=DELETE'>
        <input type='submit' value='Delete!'>  
      </form>    
    </li>
    <% }); %>
</ul>


